<p>Dear {{ uname }}</p>
<br />
<p>
    {{ d_title }} {{ name }} is now online. Please <A href={{ target }}>Log In</a> 
    to our customer portal in order to review it. For convenience, we have also
    attached a PDF of the {{ d_desc }} to this mail.
    <br /><br />
    We look forward to hearing from you soon.
    <br /><br />
    The Kanban Team
</p>
<br />
<p>
    If the "Log in" link above does not work please copy and paste this link into your browser - <br />
    <b>{{target }}</b>
</p>

<br /><br /><br />
{{ frappe.render_template('templates/includes/footer/footer_powered.html', {}) }}