<div style="width: 100%; height: auto;">
    <div style="text-align: left; padding-right: 15px;">
        <img src="https://erp.kanban-group.com/assets/kanban_mods/images/letterhead-1.png" alt="New_Kanban_Letterhead" style="height: 120px;">
        <br><br>
    </div>
    <div style="text-align: left;font-size:small">
            Kanban Group Bearings<br>
            Satijnvlinderlaan 1<br>
            4105 TE  Culemborg<br>
            Nederland<br><br>
            Tel: +31 6 29181075<br>
            <br>
    </div>
</div>
