<div style="width: 50%; height: auto;">
    <div style="text-align: left; padding-right: 15px;">
        <img width = 50% src="https://erp.kanban-group.com/assets/kanban_mods/images/letterhead-1.png" alt="New_Kanban_Letterhead">
        <br><br>
    </div>
    <div style="text-align:left; font-size:small">
            Kanban Group Bearings<br>
            Satijnvlinderlaan 1<br>
            4105 TE  Culemborg<br>
            Nederland<br><br>
            Tel: +31 6 2918 1075 or +31 6 2158 4454<br>
            <br>
    </div>
</div>
